.countdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.countdown-timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
}

.countdown-text {
  margin-bottom: 0.5rem;
}

.countdown-clock {
  display: flex;
  justify-content: center;
  align-items: center;
}

.countdown-clock span {
  margin: 0 0.5rem;
}
